* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/assets/Group 35.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header_container {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 28px;
  width: 100%;
  left: 12px;
  top: 10px;
  margin-bottom: 2rem;
}

.intro_section h2 {
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  height: 192px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

.intro_section span {
  color: lightgreen;
}

.intro_section p {
  width: 327px;
  height: 164px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 1.5rem;
}

.social-icon a {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
}
